<style>
    p.big{
        line-height: 2
    }
</style>

<div id="#settings_plugin_Dual_Extruder_Setup">
    <div id="heading" class="text-center">
        <h4>Robo Configuration Tool</h4>
        <p>Change your setup to any Robo Printer configuration</p>
        <hr>
    </div>

    <div class="robo_config_dropdown">
        <div class="config_item">
            <select id="model_dropdown" class="config_dropdown" data-bind="options: printer_options, click: set_selected_model"></select>
        </div>
        
        <div class="config_item">
            <button id="change_configuration" class="config_button" data-bind="click: change_configuration">Change Configuration</button>
        </div>
        
    </div>

    
    <div class="config_progress">
        <div id="robo_progress_bar" class="robo_progress"></div>
    </div>
    <div id="state_label" class="state_label"></div>
    
    
</div>