/* TODO: Have your plugin's CSS files generated to here. */
.robo_config_dropdown{
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.config_item{
    display: inline-block;
}

.config_button{
    background-color: #af4c4c; /* pastel red */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transform: translateX(0%) translateY(-15%);
}
.config_dropdown{

}
.robo_progress{
    color:#fff!important;
    background-color:#37bd00!important;
    height:24px;
    width:0;

}

.config_progress{
    /*text-align: left;*/
    color:#000!important;
    background-color:#f1f1f1!important;
    /*visibility: hidden;*/

}

.state_label{
    text-align: left;
}